
@{
    ViewBag.Title = "IletisimGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model TatilSeyahatProje.Models.Siniflar.Iletisim
@{
    ViewBag.Title = "İletişim Güncelleme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yorum Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("IletisimGuncelle", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.ID)
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.AdSoyad)
    @Html.TextBoxFor(x => x.AdSoyad, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Mail)
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Konu)
    @Html.TextBoxFor(x => x.Konu, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Mesaj)
    @Html.TextAreaFor(x => x.Mesaj, 15, 1, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">İletişimi Güncelle</button>
}

