@using TatilSeyahatProje.Models.Siniflar
@model List<Iletisim>
@{
    ViewBag.Title = "İletisim";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>İletişim Kısmı</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ad Soyad</th>
        <th>Mail</th>
        <th>Konu</th>
        <th>Yorum</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.AdSoyad</td>
            <td>@x.Mail</td>
            <td>@x.Konu</td>
            <td>@x.Mesaj</td>
            <td><a href="/Admin/YorumSil/@x.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/YorumGetir/@x.ID" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>

